
    <%- include('../../includes/includes_nav/navigation_PutInfo') %>

    <%- include('../../includes/links') %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Auto Focus</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if (message) { %>
    <div class="alert alert-danger alert-dismissible fade show">
      <strong>!!خطأ</strong> هذا الايميل موجود بالفعل 


          <button type="button" class="close" data-dismiss="alert">&times;</button>
    

  </div>
<% } %>


<% if (message2) { %>


  <div class="alert alert-success" role="alert">
  مبروك لقد تم انشاء الحساب بنجاح <a href="/" class="alert-link">اضغط هنا للذهاب الى صفحة الدخول </a>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
 

<% } %>


    <%- include('../../includes/includes_Place_AddEq/place') %>
    <section style="height: 15rem;"></section>

    <%- include('../../includes/footer') %>
             
      

    <%- include('../../includes/includes_Place_AddEq/add_place') %>

</body>

<script>
var sel1 = document.querySelector('#sel1');
var sel2 = document.querySelector('#sel2');
var options2 = sel2.querySelectorAll('option');

function giveSelection(selValue) {
  sel2.innerHTML = '';
  for(var i = 0; i < options2.length; i++) {
    if(options2[i].dataset.option === selValue) {
      sel2.appendChild(options2[i]);
    }
  }
}

giveSelection(sel1.value);
  </script>
</html>