


<link rel="stylesheet" href="css/item_User.css">


<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">الاماكن</h5>
        
 

        <div class="row">

       


           <%if(foo.dest===""){%>

            <h1>لا توجد بيانات </h1>

           <%}%>

           <%if(foo.dest!==""){%>
              
            
          <%for (var i = 0; i < foo.dest.length; i++) {%>
            <%if( foo.dest[i].nationality === "rya"){%>

                <div class="col-xs-12 col-sm-6 col-md-4">

                     
                <div class="image-flip" >
                    <div class="mainflip flip-0">
  
                     
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">


                                    <p><img class="img-fluid" src="images/City_Picture/ria.png" alt="card image"></p>
                                    
                                    
                            
                                    

                                    <h4 class="card-title">
                                     <%=foo.firstNameA%>  <%=foo.lastNameA%>
        
                                          </h4>
                                    
  
                                    <h4 class="card-title">
                                  الرياض 
  
                                    </h4>
                                    <p class="card-text">

                                        <%if(foo.dest[i].dist=== ""){%>
                      
                                            <%=foo.dest[i].dist%>
                                          
                                          <%}%>
                                          
                                          <%if(foo.dest[i].dist !== ""){%>
                                          
                                            حي <%=foo.dest[i].dist%> 
                                          
                                          <%}%>

                                          
                                    </p>


                                    
                                </div>
                            </div>
                        </div>
  
                        <div class="backside">
                            <div class="card">
                                

                                    <form action="/delete_places_lessor" method="POST">
                                        
                                        <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                        <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                        <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                        <input type="hidden" name="dest" value="<%=i%>">
                                        
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        

                                   

                                        <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                    
                                    </form>


                                    <div class="container">
                                        <p class="card-text" style="text-align: center;">
                                            <%=foo.dest[i].desc%>
                                        </p>

                                    </div>
                                

                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" ><%if(foo.dest[i].dist=== ""){%>
            
                                        <a href="<%=foo.dest[i].url%>" >   <i class="fas fa-location-arrow "></i> </a>
                                      
                                      <%}%>
                                      
                                      <%if(foo.dest[i].dist !== ""){%>
                                      
                                        <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                      
                                      <%}%></h4>
                                      
                               
                                    <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                               
                                  
  
  
                                </div>
                            </div>
                        </div>
                        
  
                    </div>
                </div>
            </div>
            <%}%>


            <%if(  foo.dest[i].nationality === "jed"){%>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" >
                        <div class="mainflip flip-0">
      
                         
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                     
      
      
      
      
                                        <p><img class=" img-fluid" src="images/City_Picture/j.png" alt="card image"></p>
                                       
                                        <h4 class="card-title">
                                            <%=foo.firstNameA%>  <%=foo.lastNameA%>
               
                                                 </h4>
                                        <h4 class="card-title">
                                            جدة
            
                                              </h4>
                                              <p class="card-text">
          
                                                  <%if(foo.dest[i].dest=== ""){%>
                                
                                                      <%=foo.dest[i].dest%>
                                                    
                                                    <%}%>
                                                    
                                                    <%if(foo.dest[i].dest!== ""){%>
                                                    
                                                      حي  <%=foo.dest[i].dest%> 
                                                    
                                                    <%}%>
                                              </p>
                                        
                                    </div>
                                </div>
                            </div>
      
                            <div class="backside">
                                <div class="card">
                                    <form action="/delete_places_lessor" method="POST">
                                        <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                        <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                        <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                        <input type="hidden" name="dest" value="<%=i%>">
                                        
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        

                                   

                                        <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                    
                                    </form>

                                    <div class="container">
                                        <p class="card-text" style="text-align: center;">
                                            <%=foo.dest[i].desc%>
                                        </p>

                                    </div>
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
            
                                            <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                          
                                          <%}%>
                                          
                                          <%if(foo.dest[i].dist !== ""){%>
                                          
                                            <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                          
                                          <%}%></h4>
                                

                                        <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>


                                    
                                    
      
      
                                    </div>
                                </div>
                            </div>
                            
      
                        </div>
                    </div>
                </div>
                <%}%>


                <%if(foo.dest[i].nationalityy === "hfof"){%>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
          
                             
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                         
          
          
          
          
                                            <p><img class=" img-fluid" src="images/City_Picture/hafof.jpg" alt="card image"></p>
                                           
                                            <h4 class="card-title">
                                                <%=foo.firstNameA%>  <%=foo.lastNameA%>
                   
                                                     </h4>
          
                                            <h4 class="card-title">
                                               الهفوف
                
                                                  </h4>
                                                  <p class="card-text">
              
                                                      <%if(foo.dest[i].dist=== ""){%>
                                    
                                                          <%=foo.dest[i].dist%>
                                                        
                                                        <%}%>
                                                        
                                                        <%if(foo.dest[i].dist !== ""){%>
                                                        
                                                          حي  <%=foo.dest[i].dist%> 
                                                        
                                                        <%}%>
                                                  </p>
                                        </div>
                                    </div>
                                </div>
          
                                <div class="backside">
                                    <div class="card">
                                        <form action="/delete_places_lessor" method="POST">
                                            <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                            <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                            <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                            <input type="hidden" name="dest" value="<%=i%>">
                                            
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            
    
                                       
    
                                            <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                        
                                        </form>
                                    
                                        <div class="container">
                                            <p class="card-text" style="text-align: center;">
                                                <%=foo.dest[i].desc%>
                                            </p>

                                        </div>

                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
            
                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                              
                                              <%}%>
                                              
                                              <%if(foo.dest[i].dist !== ""){%>
                                              
                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                              
                                              <%}%></h4>
                                         

                                            <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                                        
          
          
                                        </div>
                                    </div>
                                </div>
                                
          
                            </div>
                        </div>
                    </div>
                    <%}%>


                <%if(foo.dest[i].nationality === "zhar"){%>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
          
                             
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                         
          
          
          
          
                                            <p><img class=" img-fluid" src="images/City_Picture/zah.png" alt="card image"></p>
                                           
                                            <h4 class="card-title">
                                                <%=foo.firstNameA%>  <%=foo.lastNameA%>
                   
                                                     </h4>
                                            <h4 class="card-title">
                                               الظهران
                
                                                  </h4>
                                                  <p class="card-text">
              
                                                      <%if(foo.dest[i].dist=== ""){%>
                                    
                                                          <%=foo.dest[i].dist%>
                                                        
                                                        <%}%>
                                                        
                                                        <%if(foo.dest[i].dist !== ""){%>
                                                        
                                                          حي  <%=foo.dest[i].dist%> 
                                                        
                                                        <%}%>
                                                  </p>
                                        </div>
                                    </div>
                                </div>
          
                                <div class="backside">
                                    <div class="card">
                                        <form action="/delete_places_lessor" method="POST">
                                            <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                            <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                            <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                            <input type="hidden" name="dest" value="<%=i%>">
                                            
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            
    
                                       
    
                                            <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                        
                                        </form>
                                    
                                        <div class="container">
                                            <p class="card-text" style="text-align: center;">
                                                <%=foo.dest[i].desc%>
                                            </p>

                                        </div>

                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
            
                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                              
                                              <%}%>
                                              
                                              <%if(foo.dest[i].dist !== ""){%>
                                              
                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                              
                                              <%}%></h4>
                                         
                                        
                                            <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

          
          
                                        </div>
                                    </div>
                                </div>
                                
          
                            </div>
                        </div>
                    </div>
                    <%}%>


                    <%if(foo.dest[i].nationality=== "taif"){%>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" >
                                <div class="mainflip flip-0">
              
                                 
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                             
              
              
              
              
                                                <p><img class=" img-fluid" src="images/City_Picture/t.png" alt="card image"></p>
                                               
              
                                                <h4 class="card-title">
                                                    <%=foo.firstNameA%>  <%=foo.lastNameA%>
                       
                                                         </h4>
                                                <h4 class="card-title">
                                                   الطائف
                    
                                                      </h4>
                                                      <p class="card-text">
                  
                                                          <%if(foo.dest[i].dist=== ""){%>
                                        
                                                              <%=foo.dest[i].dist%>
                                                            
                                                            <%}%>
                                                            
                                                            <%if(foo.dest[i].dist !== ""){%>
                                                            
                                                              حي  <%=foo.dest[i].dist%> 
                                                            
                                                            <%}%>
                                                      </p>
                                            </div>
                                        </div>
                                    </div>
              
                                    <div class="backside">
                                        <div class="card">
                                            <form action="/delete_places_lessor" method="POST">
                                                <input type="hidden" name="dest" value="<%=i%>">
                                                
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                            
                                            </form>

                                            <div class="container">
                                                <p class="card-text" style="text-align: center;">
                                                    <%=foo.dest[i].desc%>
                                                </p>

                                            </div>
                                        
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
            
                                                    <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                  
                                                  <%}%>
                                                  
                                                  <%if(foo.dest[i].dist !== ""){%>
                                                  
                                                    <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                  
                                                  <%}%></h4>
                                            
                                            
              
                                                <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

              
                                            </div>
                                        </div>
                                    </div>
                                    
              
                                </div>
                            </div>
                        </div>
                        <%}%>


                        <%if(foo.dest[i].nationality === "dam"){%>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="image-flip" >
                                    <div class="mainflip flip-0">
                  
                                     
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                 
                  
                  
                  
                  
                                                    <p><img class=" img-fluid" src="images/City_Picture/dam.png" alt="card image"></p>
                                                   
                                                    <h4 class="card-title">
                                                        <%=foo.firstNameA%>  <%=foo.lastNameA%>
                           
                                                             </h4>
                  
                                                    <h4 class="card-title">
                                                        الدمام
                        
                                                          </h4>
                                                          <p class="card-text">
                      
                                                              <%if(foo.dest[i].dist=== ""){%>
                                            
                                                                  <%=foo.dest[i].dist%>
                                                                
                                                                <%}%>
                                                                
                                                                <%if(foo.dest[i].dist !== ""){%>
                                                                
                                                                  حي  <%=foo.dest[i].dist%> 
                                                                
                                                                <%}%>
                                                          </p>
                                                </div>
                                            </div>
                                        </div>
                  
                                        <div class="backside">
                                            <div class="card">
                                                <form action="/delete_places_lessor" method="POST">
                                                    <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                                    <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                                    <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                                    <input type="hidden" name="dest" value="<%=i%>">
                                                    
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    
            
                                               
            
                                                    <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                                
                                                </form>

                                                <div class="container">
                                                    <p class="card-text" style="text-align: center;">
                                                        <%=foo.dest[i].desc%>
                                                    </p>

                                                </div>
                                            
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
            
                                                        <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                      
                                                      <%}%>
                                                      
                                                      <%if(foo.dest[i].dist !== ""){%>
                                                      
                                                        <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                      
                                                      <%}%></h4>

                                                
                  
                                                    <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                                                </div>
                                            </div>
                                        </div>
                                        
                  
                                    </div>
                                </div>
                            </div>
                            <%}%>


                            <%if(foo.dest[i].nationality === "hafr"){%>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" >
                                        <div class="mainflip flip-0">
                      
                                         
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                     
                      
                      
                      
                      
                                                        <p><img class=" img-fluid" src="images/City_Picture/haf.png" alt="card image"></p>
                                                       
                                                        <h4 class="card-title">
                                                            <%=foo.firstNameA%>  <%=foo.lastNameA%>
                               
                                                                 </h4>
                      
                                                        <h4 class="card-title">
                                                            حفر الباطن
                            
                                                              </h4>
                                                              <p class="card-text">
                          
                                                                  <%if(foo.dest[i].dist=== ""){%>
                                                
                                                                      <%=foo.dest[i].dist%>
                                                                    
                                                                    <%}%>
                                                                    
                                                                    <%if(foo.dest[i].dist !== ""){%>
                                                                    
                                                                      حي  <%=foo.dest[i].dist%> 
                                                                    
                                                                    <%}%>
                                                              </p>
                                                    </div>
                                                </div>
                                            </div>
                      
                                            <div class="backside">
                                                <div class="card">
                                                    <form action="/delete_places_lessor" method="POST">
                                                        <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                                        <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                                        <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                                        <input type="hidden" name="dest" value="<%=i%>">
                                                        
                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                        
                
                                                   
                
                                                        <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                                    
                                                    </form>
                                                    <div class="container">
                                                        <p class="card-text" style="text-align: center;">
                                                            <%=foo.dest[i].desc%>
                                                        </p>

                                                    </div>
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
            
                                                            <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                          
                                                          <%}%>
                                                          
                                                          <%if(foo.dest[i].dist !== ""){%>
                                                          
                                                            <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                          
                                                          <%}%></h4>

                                                    
                                                        <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                      
                                                    </div>
                                                </div>
                                            </div>
                                            
                      
                                        </div>
                                    </div>
                                </div>
                                <%}%>

                                <%if(foo.dest[i].nationality === "khmis"){%>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="image-flip" >
                                            <div class="mainflip flip-0">
                          
                                             
                                                <div class="frontside">
                                                    <div class="card">
                                                        <div class="card-body text-center">
                                                         
                          
                          
                          
                          
                                                            <p><img class=" img-fluid" src="images/City_Picture/khmis.png" alt="card image"></p>
                                                           
                          
                                                            <h4 class="card-title">
                                                                <%=foo.firstNameA%>  <%=foo.lastNameA%>
                                   
                                                                     </h4>
                                                            <h4 class="card-title">
                                                                خميس مشيط
                                
                                                                  </h4>
                                                                  <p class="card-text">
                              
                                                                      <%if(foo.dest[i].dist=== ""){%>
                                                    
                                                                          <%=foo.dest[i].dist%>
                                                                        
                                                                        <%}%>
                                                                        
                                                                        <%if(foo.dest[i].dist !== ""){%>
                                                                        
                                                                          حي  <%=foo.dest[i].dist%> 
                                                                        
                                                                        <%}%>
                                                                  </p>
                                                        </div>
                                                    </div>
                                                </div>
                          
                                                <div class="backside">
                                                    <div class="card">
                                                        <form action="/delete_places_lessor" method="POST">
                                                            <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                                            <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                                            <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                                            <input type="hidden" name="dest" value="<%=i%>">
                                                            
                                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                            
                    
                                                       
                    
                                                            <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                                        
                                                        </form>
                                                    
                                                        <div class="container">
                                                            <p class="card-text" style="text-align: center;">
                                                                <%=foo.dest[i].desc%>
                                                            </p>

                                                        </div>

                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
            
                                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                              
                                                              <%}%>
                                                              
                                                              <%if(foo.dest[i].dist !== ""){%>
                                                              
                                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                              
                                                              <%}%></h4>

                                                            <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                          
                          
                                                        </div>
                                                    </div>
                                                </div>
                                                
                          
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>

                                    <%if(foo.dest[i].nationality === "bry"){%>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="image-flip" >
                                                <div class="mainflip flip-0">
                              
                                                 
                                                    <div class="frontside">
                                                        <div class="card">
                                                            <div class="card-body text-center">
                                                             
                              
                              
                              
                              
                                                                <p><img class=" img-fluid" src="images/City_Picture/bry.png" alt="card image"></p>
                                                               
                                                                <h4 class="card-title">
                                                                    <%=foo.firstNameA%>  <%=foo.lastNameA%>
                                       
                                                                         </h4>
                              
                                                                <h4 class="card-title">
                                                                    بريدة
                                    
                                                                      </h4>
                                                                      <p class="card-text">
                                  
                                                                          <%if(foo.dest[i].dist=== ""){%>
                                                        
                                                                              <%=foo.dest[i].dist%>
                                                                            
                                                                            <%}%>
                                                                            
                                                                            <%if(foo.dest[i].dist !== ""){%>
                                                                            
                                                                              حي  <%=foo.dest[i].dist%> 
                                                                            
                                                                            <%}%>

                                                                            <img src=" <%=foo.dest[i].roomImage%>" alt="">
                                                                      </p>
                                                            </div>
                                                        </div>
                                                    </div>
                              
                                                    <div class="backside">
                                                        <div class="card">
                                                            <form action="/delete_places_lessor" method="POST">
                                                                <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                                                <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                                                <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                                                <input type="hidden" name="dest" value="<%=i%>">
                                                                
                                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                
                        
                                                           
                        
                                                                <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                                            
                                                            </form>

                                                            <div class="container">
                                                                <p class="card-text" style="text-align: center;">
                                                                    <%=foo.dest[i].desc%>
                                                                </p>

                                                            </div>
                                                        
                                                            <div class="card-body text-center mt-4">
                                                                <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
                        
                                                                    <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                  
                                                                  <%}%>
                                                                  
                                                                  <%if(foo.dest[i].dist !== ""){%>
                                                                  
                                                                    <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                  
                                                                  <%}%></h4>
                                                               
                                                            
                                                                <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                              
                                                            </div>
                                                        </div>
                                                    </div>
                              
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>

                                        <%if(foo.dest[i].nationality === "tabok"){%>
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="image-flip" >
                                                    <div class="mainflip flip-0">
                                  
                                                     
                                                        <div class="frontside">
                                                            <div class="card">
                                                                <div class="card-body text-center">
                                                                 
                                  
                                  
                                  
                                  
                                                                    <p><img class=" img-fluid" src="images/City_Picture/t.png" alt="card image"></p>
                                                                   
                                                                    <h4 class="card-title">
                                                                        <%=foo.firstNameA%>  <%=foo.lastNameA%>
                                           
                                                                             </h4>
                                  
                                                                    <h4 class="card-title">
                                                                        تبوك
                                        
                                                                          </h4>
                                                                          <p class="card-text">
                                      
                                                                              <%if(foo.dest[i].dist=== ""){%>
                                                            
                                                                                  <%=foo.dest[i].dist%>
                                                                                
                                                                                <%}%>
                                                                                
                                                                                <%if(foo.dest[i].dist !== ""){%>
                                                                                
                                                                                  حي  <%=foo.dest[i].dist%> 
                                                                                
                                                                                <%}%>
                                                                          </p>

                                                                </div>
                                                            </div>
                                                        </div>
                                  
                                                        <div class="backside">
                                                            <div class="card">
                                                                <form action="/delete_places_lessor" method="POST">
                                                                    <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                                                    <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                                                    <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                                                    <input type="hidden" name="dest" value="<%=i%>">
                                                                    
                                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                    
                            
                                                               
                            
                                                                    <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                                                
                                                                </form>


                                                                <div class="container">
                                                                    <p class="card-text" style="text-align: center;">
                                                                        <%=foo.dest[i].desc%>
                                                                    </p>

                                                                </div>

                                                                <div class="card-body text-center mt-4">
                                                                    <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
                            
                                                                        <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                      
                                                                      <%}%>
                                                                      
                                                                      <%if(foo.dest[i].dist !== ""){%>
                                                                      
                                                                        <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                      
                                                                      <%}%></h4>
                                                                
                                                                    <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                                  
                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                  
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>

                                            <%if(foo.dest[i].nationality === "makkah"){%>
                                                <div class="col-xs-12 col-sm-6 col-md-4">
                                                    <div class="image-flip" >
                                                        <div class="mainflip flip-0">
                                      
                                                         
                                                            <div class="frontside">
                                                                <div class="card">
                                                                    <div class="card-body text-center">
                                                                     
                                      
                                      
                                      
                                      
                                                                        <p><img class=" img-fluid" src="images/City_Picture/makkah.png" alt="card image"></p>
                                                                       
                                                                        <h4 class="card-title">
                                                                            <%=foo.firstNameA%>  <%=foo.lastNameA%>
                                               
                                                                                 </h4>
                                                                        <h4 class="card-title">
                                                                            مكة
                                            
                                                                              </h4>
                                                                              <p class="card-text">
                                          
                                                                                  <%if(foo.dest[i].dist=== ""){%>
                                                                
                                                                                      <%=foo.dest[i].dist%>
                                                                                    
                                                                                    <%}%>
                                                                                    
                                                                                    <%if(foo.dest[i].dist !== ""){%>
                                                                                    
                                                                                      حي  <%=foo.dest[i].dist%> 
                                                                                    
                                                                                    <%}%>
                                                                              </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                      
                                                            <div class="backside">
                                                                <div class="card">
                                                                    <form action="/delete_places_lessor" method="POST">
                                                                        <input type="hidden" name="nationality" value="<%=foo.dest[i].nationality%>">
                                                                        <input type="hidden" name="desc" value="<%=foo.dest[i].desc%>">
                                                                        <input type="hidden" name="url" value="<%=foo.dest[i].url%>">
                                                                        <input type="hidden" name="dest" value="<%=i%>">
                                                                        
                                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                        
                                
                                                                   
                                
                                                                        <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                                                    
                                                                    </form>

                                                                    <div class="container">
                                                                    <p class="card-text" style="text-align: center;">
                                                                        <%=foo.dest[i].desc%>
                                                                    </p>

                                                                </div>
                                                                
                                                                    <div class="card-body text-center mt-4">
                                                                        <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
                                
                                                                            <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                          
                                                                          <%}%>
                                                                          
                                                                          <%if(foo.dest[i].dist !== ""){%>
                                                                          
                                                                            <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                          
                                                                          <%}%></h4>
                                                                    
                                                                        <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                                      
                                                                       
                                      
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                      
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                <%if(foo.dest[i].nationality === "madinah"){%>
                                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                                        <div class="image-flip" >
                                                            <div class="mainflip flip-0">
                                          
                                                             
                                                                <div class="frontside">
                                                                    <div class="card">
                                                                        <div class="card-body text-center">
                                                                         
                                          
                                          
                                          
                                          
                                                                            <p><img class=" img-fluid" src="images/City_Picture/m.png" alt="card image"></p>
                                                                           
                                                                            <h4 class="card-title">
                                                                                <%=foo.firstNameA%>  <%=foo.lastNameA%>
                                                   
                                                                                     </h4>

                                                                            <h4 class="card-title">
                                                                                المدينة المنورة 
                                                
                                                                                  </h4>
                                                                                  <p class="card-text">
                                              
                                                                                      <%if(foo.dest[i].dist=== ""){%>
                                                                    
                                                                                          <%=foo.dest[i].dist%>
                                                                                        
                                                                                        <%}%>
                                                                                        
                                                                                        <%if(foo.dest[i].dist !== ""){%>
                                                                                        
                                                                                          حي  <%=foo.dest[i].dist%> 
                                                                                        
                                                                                        <%}%>
                                                                                  </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                          
                                                                <div class="backside">
                                                                    <div class="card">
                                                                        <form action="/delete_places_lessor" method="POST">
                                                                            <input type="hidden" name="dest" value="<%=i%>">
                                                                            
                                                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                            
                                    
                                                                       
                                    
                                                                            <button type="submit" class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>
                                                                        
                                                                        </form>

                                                                        <div class="container">
                                                                            <p class="card-text" style="text-align: center;">
                                                                                <%=foo.dest[i].desc%>
                                                                            </p>
        
                                                                        </div>
                                                                    
                                                                     

                                                                        <div class="card-body text-center mt-4">
                                                                            <h4 class="card-title"><%if(foo.dest[i].dist=== ""){%>
                                    
                                                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                              
                                                                              <%}%>
                                                                              
                                                                              <%if(foo.dest[i].dist !== ""){%>
                                                                              
                                                                                <a href="<%=foo.dest[i].url%>">   <i class="fas fa-location-arrow "></i> </a>
                                                                              
                                                                              <%}%></h4>
                                                                        
                                                                            <p><img class="img-places" src="<%=foo.dest[i].roomImage%>" alt="card image"></p>

                                                                        
                                          
                                          
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                          
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%}%>
  
            
            <%}%>
            <%}%>

           

  
            
  
            
          </div>
        </div>
        
  </section>

  