<%- include('../../includes/includes_nav/navigation_PutInfo') %>
<%- include('../../includes/links') %>

<link rel="stylesheet" href="css/item_User.css">


<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">الدورات</h5>



        <div class="row">
          <%for (var i = 1; i < data.courses.length; i++) {%>
            <!-- Team member -->   
            
        

                <div class="col-xs-12 col-sm-6 col-md-4">

                     
                <div class="image-flip" >
                    <div class="mainflip flip-0">
  
                     
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">   <%=data.courses[i].CourseName%>   </h4>
                                    
          
                               

                                    <h4 class="card-title">
                                        <%=data.firstNameA%>
                                            <%=data.lastNameA%></h4>

                                    <p class="card-text">  
                                        <%=data.phone%>   للتسجيل توصل بالرقم  
                    
                                    </p>

                                
                                    <h4>فترة الدورة</h4>
                                    <h4 class="card-title">

                                        من
                                        <%=data.courses[i].begining%> 

                                       
          
                                        <br>
                                        الى
                                         <%=data.courses[i].ending%>
                                    </h4>


                                    <%=data.courses[i].accept%>


                                    <h4 class="card-title">
                                        الدورة ستكون 
                                        <%=data.courses[i].place%>
                                        
                                    </h4>


                                    <%if(data.courses[i].city!==null){%>

                                        <h4 class="card-title">
                                            <%=data.courses[i].city%>
                                        </h4>

                                    <%}%>


                                    


                                    


                                    
                                </div>
                            </div>
                        </div>
  
                        <div class="backside">
                            <div class="card">
                                

                                    <button class="fas fa-trash fa-2x icon_owner" class="btn btn-primary"
                                    data-toggle="modal" data-target="#exampleModal44" id="building4">
                    
                                   </button>


                                    <div class="container">
                                     

                                        <h4 style="text-align: center;">: محاور الدورة </h4>
  
                                        <h4 class="card-title" style="text-align: center;">
                                            <%=data.courses[i].titlesCourse%> </h4>
                                        
    
                                        <h4 style="text-align: center;"> :شروط الدورة  </h4> 
                                          
                                        <h4 class="card-title" style="text-align: center;">
                                            
                                            <%=data.courses[i].courseCondeitions%>
                                        </h4>

                                    </div>
                                

                            </div>
                        </div>
                        
  
                    </div>
                </div>
            </div>

            
            <%}%>
  
  
            
          </div>
        </div>
        
  </section>


  <div id="building4">
    <div class="modal fade" id="exampleModal44" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> هل انت متاكد من الحذف </h5>
  
          </div>
          <div class="modal-body">
            <form action="/delete_course" method="POST">
                <input type="number" name="courses" max="<%=data.courses.length-1%>" min="1" >
                
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                

           

                <!-- <button  class="btn"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button> -->

                <button type="submit"  class="btn"  onclick="this.style.display='none';"><i class="fa-2x fas fa-trash" style="color:#ca0404;"></i></button>

            
            </form>

           
                </aside> <!-- col.// -->
          </div>
          <div class="modal-footer">
  
            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق </button>
  
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <section style="height: 15rem;"></section>

  <%- include('../../includes/footer') %>

  <%- include('../../includes/includes_Place_AddEq/add_course') %>