
          

<%- include('../includes/links') %>

<%- include('../includes/includes_nav/navigation_displayInfo.ejs') %>

<link rel="stylesheet" href="css/item_User.css">




  <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">المعدات</h5>
        <div class="row">
            <%for (var i = 0; i < equipment.length ; i++) {%>
                <%for (var j = 0; j < equipment[i].tools.length ; j++) {%>

                    <%if(equipment[i].tools[j].accept==="accept"){%>

             
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="image-flip">
    <div class="mainflip flip-0">

      
        <div class="frontside">
            <div class="card " >
                <div class="card-body text-center">
                 
          
                       
                   

                    <p><img class=" img-fluid" src="<%=equipment[i].tools[j].roomImage%>"   alt="card image"></p>
                   

                    <h4 >
                        الفئة: 
                        <%=equipment[i].tools[j].catagory%>   </h4>

                        
                    
                       <h4 class="crad-text"> :اسم الشركة<br> <%=equipment[i].tools[j].NameCompany%> </h4>  

  
                    <p class="card-text"><%=equipment[i].tools[j].NameMachine%> :اسم الالة
                    </p>

              
                </div>
            </div>
        </div>

        <div class="backside">
            <div class="card">
                <div class="card-body text-center mt-4">
                    <h4 class="card-title"> 
                    
                    </h4>
                      
                    <p class="card-text"> 
                        المدينة:
                        <%=equipment[i].tools[j].city%>
                 

                        
                    </p>
                    <p class="crad-text">
                        الاسم: 
                        <%=equipment[i].firstNameA%>  <%=equipment[i].lastNameA%>

                    </p>     
                    
                    <p class="card-text">
                        للتواصل:
                         <%=equipment[i].phone%>

                    </p>  


                </div>
            </div>
        </div>

        
        

    </div>
</div>
</div>
<%}%>
<%}%>
<%}%>

</div>
</div>

</section>


<section style="height: 2.5rem;"></section>
<%- include('../includes/footer') %>

<%- include('../includes/includes_Search/searchInfo') %>

